useDynLib(HLSM)
import("MASS", "coda", "igraph")
importFrom("grDevices", "dev.new", "dev.off", "pdf")
importFrom("graphics", "layout", "par", "plot", "rect", "segments",
             "text")
importFrom("stats", "cmdscale", "quantile", "rnorm", "sd")

export("HLSMrandomEF",
       "HLSMfixedEF",
       "plotDiagnostic",
       "plotLikelihood",
       "plotHLSM.random.fit",
       "plotHLSM.fixed.fit",
       "plotHLSM.LS",	
	"getBeta",
	"getIntercept",
	"getAlpha",
	"getLS",
	"getLikelihood")
       

S3method('print','HLSM')
S3method('summary','HLSM')
